schema/rgdowntime.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="downtime_information">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Downtime">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int" />
            <xsd:element name="ResourceID" type="xsd:int" />
            <xsd:element name="ResourceGroup">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="GroupName" type="xsd:string" />
                  <xsd:element name="GroupID" type="xsd:int" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResourceName" type="xsd:string" />
            <xsd:element name="ResourceFQDN" type="xsd:string" />
            <xsd:element name="StartTime" type="xsd:string" />
            <xsd:element name="EndTime" type="xsd:string" />
            <xsd:element name="Class" type="xsd:string" />
            <xsd:element name="Severity" type="xsd:string" />
            <xsd:element minOccurs="0" name="DN" type="xsd:string" />
            <xsd:element name="UpdateTime" type="xsd:string" />
            <xsd:element name="Services">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="Service">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="ID" type="xsd:int" />
                        <xsd:element name="Name" type="xsd:string" />
                        <xsd:element name="Description" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Description" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Downtimes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="PastDowntimes" type="downtime_information"/>
        <xsd:element minOccurs="0" name="CurrentDowntimes" type="downtime_information"/>
        <xsd:element minOccurs="0" name="FutureDowntimes" type="downtime_information"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
