src/schema/miscproject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Projects">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Project">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" name="ID" type="xsd:string"/>
              <xsd:element name="Name" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string" />
              <xsd:element name="PIName" type="xsd:string" />
              <xsd:element name="Organization" type="xsd:string" />
              <xsd:element minOccurs="0" name="Department" type="xsd:string" />
              <xsd:element name="FieldOfScience" type="xsd:string" />
              <xsd:element name="Sponsor">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="VirtualOrganization">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ID" type="xsd:int"/>
                          <xsd:element name="Name" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CampusGrid">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ID" type="xsd:int"/>
                          <xsd:element name="Name" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ResourceAllocations">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ResourceAllocation" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Type" type="xsd:string"/>
                          <xsd:element name="SubmitResources">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SubmitResource" type="xsd:string" maxOccurs="unbounded"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ExecuteResourceGroups">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ExecuteResourceGroup" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="GroupName" type="xsd:string"/>
                                      <xsd:element name="LocalAllocationID" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
