src/schema/miscproject.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="boolean">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="True"/>
      <xsd:enumeration value="False"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="Projects">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="Project">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ID" type="xsd:int"/>
              <xsd:element name="Name" type="xsd:string"/>
              <xsd:element name="Description" type="xsd:string" />
              <xsd:element name="PIName" type="xsd:string" />
              <xsd:element name="Organization" type="xsd:string" />
              <xsd:element minOccurs="0" name="Department" type="xsd:string" />
              <xsd:element name="FieldOfScience" type="xsd:string" />
              <xsd:element name="Sponsor">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" name="VirtualOrganization">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ID" type="xsd:int"/>
                          <xsd:element name="Name" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CampusGrid">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ID" type="xsd:int"/>
                          <xsd:element name="Name" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ResourceAllocation" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="XRAC" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="AllowedSchedds" minOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="AllowedSchedd" type="xsd:string"/>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="ResourceGroups" minOccurs="1">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ResourceGroup" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name" type="xsd:string"/>
                                      <xsd:element name="LocalAllocationID" type="xsd:string"/>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
